<footer>
    <section class="contact">
        <h2>Fale conosco!</h2>
        <ul>
            <li>
                <a class="link-contato" href="tel:+5581985524376">
                    <i class="fab fa-whatsapp"></i> (81) 98552-4376
                </a>
            </li>
        
            <li>
                <a class="link-contato" href="https://www.instagram.com/velas_candelae/" target="_blank"> 
                    <i class="fab fa-instagram"></i> @velas_candelae
                </a>
            </li>

            <li>
                <a class="link-contato" href = "mailto:velascandelae@gmail.com">
                    <i class="far fa-envelope"></i> velascandelae@gmail.com
                </a>
            </li>

            <li>
                <i class="fas fa-truck"></i>  Entregas em Recife e RMR
            </li>
        </ul>            
    </section>
    <div class="vertical-bar"></div>
    <section class="payment">
        <h2>Formas de pagamento:</h2>
        <ul>
            <li>
                <i class="far fa-credit-card"></i> Cartões de crédito/débito
            </li>
            <li>
                <i class="fas fa-barcode"></i> Boleto bancário
            </li>
            <li>
                <i class="fas fa-qrcode"></i> Pix
            </li>
            <li>
                <i class="fab fa-cc-paypal"></i> PayPal
            </li>           
        </ul>
    </section>
</footer>