<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('./partials/header') %>
<main>

    <h2 class="title">Sobre</h2>


<div class="links">
    <a class="current" href="">Candelae</a>   
    <div class="vertical-line"></div>
    <a href="/scents/scents">Aromas</a>
</div>



<section class="container">
    <img src="/img/lumos.jpg" alt="imagem principal" class="vela">

    <p> Já reparou que estamos sempre percebendo quase tudo por meio da comunicação visual? Nossa visão é o sentido mais ativado, sem dúvidas. Então, naquela nossa caminhada de equilíbrio e de uma vida mais holística (que falamos aqui), que tal ativar o olfato, esse sentido tão potente? E nossa dica de hoje são as velas aromáticas!
    Acender essas simples velinhas permite uma iluminação mais sutil, que nos ajuda a descansar a visão, a relaxar, criando um ambiente aconchegante. Além de todo os benefícios dos aromas, que não são poucos; quando inalamos um aroma, nosso corpo manda mensagens para uma parte do sistema nervoso que é responsável pelas nossas emoções, o sistema límbico e conseguimos acessar diversas sensações de bem-estar. </p>


</section>

</main>


    <%- include('./partials/footer') %>
    <script src="https://kit.fontawesome.com/a27764f56e.js" crossorigin="anonymous"></script>

    
</body>
</html>