<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candelae</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/components/header.css">
    <link rel="stylesheet" href="css/components/footer.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <a href="#" title="Pagina inicial">
            <img class="logo" src="img/logo-candelae.png" alt="Logo candelae">
        </a>
        <form class="search">
            <input class="search-bar" type="text">
            <button title="Pesquisar">
                <img src="img/search-icon.png" alt="">
            </button>
        </form>
        <nav>
            <a href="#">Sobre nós</a>
            <div class="vertical-bar"></div>
            <div class="icons">
                <a href="#" title="Perfil">
                    <i class="fas fa-user-circle"></i>
                </a>
                <a href="#" title="Carrinho">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <p class="path">Home > Produto > <span>Carrinho</span></p>
        <div class="products-total">
                <section class="products">
                <div class="product">
                    <img src="img/vela.jpg" alt="Vela">
                    <div class="description">
                        <p>Lorem ipsum</p>
                        <p>R$ 0,00</p>
                    </div>
                    <div class="quantity">
                        <input type="number">
                        <p>Excluir</p>
                    </div>
                </div>
                <div class="product">
                    <img src="img/vela.jpg" alt="Vela">
                    <div class="description">
                        <p>Lorem ipsum</p>
                        <p>R$ 0,00</p>
                    </div>
                    <div class="quantity">
                        <input type="number">
                        <p>Excluir</p>
                    </div>
                </div>
                <div class="product">
                    <img src="img/vela.jpg" alt="Vela">
                    <div class="description">
                        <p>Lorem ipsum</p>
                        <p>R$ 0,00</p>
                    </div>
                    <div class="quantity">
                        <input type="number">
                        <p>Excluir</p>
                    </div>
                </div>
            </section>
            <section class="purchase">
                <h1 class="title">Carrinho</h1>
                <div class="finish">
                    <div class="value">
                        <p><span>Subtotal (qtd itens):</span> R$ 0,00</p>
                        <p><span>Frete:</span> R$ 0,00</p>
                        <div class="horizontal-bar"></div>
                        <p><span>Total:</span> R$ 0,00</p>
                    </div>
                    <div class="buttons">
                        <button>CONTINUAR</button>
                        <a href="#">Continuar a comprar</a>
                    </div>
                </div>
            </section>
        </div>
        
    </main>
    <footer>
        <section class="contact">
            <h2>Fale conosco!</h2>
            <ul>
                <li>
                    <a class="link-contato" href="tel:+5581985524376">
                        <i class="fab fa-whatsapp"></i> (81) 98552-4376
                    </a>
                </li>
            
                <li>
                    <a class="link-contato" href="https://www.instagram.com/velas_candelae/"> 
                        <i class="fab fa-instagram"></i> @velas_candelae
                    </a>
                </li>

                <li>
                    <a class="link-contato" href = "mailto:velascandelae@gmail.com">
                        <i class="far fa-envelope"></i> velascandelae@gmail.com
                    </a>
                </li>

                <li>
                    <i class="fas fa-truck"></i>  Entregas em Recife e RMR
                </li>
            </ul>            
        </section>
        <div class="vertical-bar"></div>
        <section class="payment">
            <h2>Formas de pagamento:</h2>
            <ul>
                <li>
                    <i class="far fa-credit-card"></i> Cartões de crédito/débito
                </li>
                <li>
                    <i class="fas fa-barcode"></i> Boleto bancário
                </li>
                <li>
                    <i class="fas fa-qrcode"></i> Pix
                </li>
                <li>
                    <i class="fab fa-cc-paypal"></i> PayPal
                </li>           
            </ul>
        </section>
    </footer>
    <script src="https://kit.fontawesome.com/a27764f56e.js" crossorigin="anonymous"></script>
</body>
</html>
