<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aromas</title>
    <link rel="stylesheet" href="/css/scents.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body>

   <%- include('./partials/header') %>

    <main>


        <h2 class="title">Sobre</h2>


        <div class="links">
            <a href="/scents/about">Candelae</a>
            <div class="vertical-line"></div>
            <a class="current" href="#">Aromas</a>
        </div>


        <section>
            <div class="Aromas">

                <img src="/img/aromas/baunilha.jpg" alt="Baunilha" class="img">

                <div class="berg">

                   <h3>Baunilha</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos  dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                    </p>

                </div>
            </div>

            <div class="Aromas">

                <img src="/img/aromas/cafe.jpg" alt="Café" class="img">


                <div class="berg">
                   
                   <h3>Café</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus fuga perspiciatis sunt cum eaque beatae ipsum eius quidem? Hic perspiciatis nam tempore eius cum, eos voluptas totam sunt sit!
                    </p>

                </div>
            </div>
            <div class="Aromas">

                <img src="/img/aromas/canela.jpg" alt="Canela" class="img">

                <div class="berg">

                   <h3>Canela</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                    </p>

                </div>
            </div>

            <div class="Aromas">

                <img src="/img/aromas/capim_limao.jpg" alt="Capim-limão" class="img">


                <div class="berg">
                   
                   <h3>Capim-limão</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus fuga perspiciatis sunt cum eaque beatae ipsum eius quidem? Hic perspiciatis nam tempore eius cum, eos voluptas totam sunt sit!
                    </p>

                </div>
            </div>
            <div class="Aromas">

                <img src="/img/aromas/citronela.jpg" alt="Citronela" class="img">

                <div class="berg">

                   <h3>Citronela</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                         </p>

                </div>
            </div>
            <div class="Aromas">

                <img src="/img/aromas/flor_de_cerejeira.jpg" alt="Flor de cerejeira" class="img">


                <div class="berg">
                   
                   <h3>Flor de Cerejeira</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus fuga perspiciatis sunt cum eaque beatae ipsum eius quidem? Hic perspiciatis nam tempore eius cum, eos voluptas totam sunt sit!
                    </p>

                </div>
            </div>

            <div class="Aromas">

                <img src="/img/aromas/lavanda.jpg" alt="Lavanda" class="img">


                <div class="berg">
                   
                   <h3>Lavanda</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus fuga perspiciatis sunt cum eaque beatae ipsum eius quidem? Hic perspiciatis nam tempore eius cum, eos voluptas totam sunt sit!
                    </p>

                </div>
            </div>
            <div class="Aromas">

                <img src="/img/aromas/patchouli.jpg" alt="Patchouli" class="img">

                <div class="berg">

                   <h3>Patchouli</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                         </p>

                </div>
            </div>

            <div class="Aromas">

                <img src="/img/aromas/sandalo.jpg" alt="Sandalo" class="img">


                <div class="berg">
                   
                   <h3>Sandalo</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus fuga perspiciatis sunt cum eaque beatae ipsum eius quidem? Hic perspiciatis nam tempore eius cum, eos voluptas totam sunt sit!
                    </p>

                </div>
            </div>
            <div class="Aromas">

                <img src="/img/aromas/tangerina.jpg" alt="Tangerina" class="img">

                <div class="berg">

                   <h3>Tangerina</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                         </p>

                </div>
            </div>

            <div class="Aromas">

                <img src="/img/aromas/verbena.jpg" alt="Verbena" class="img">


                <div class="berg">
                   
                   <h3>Verbena</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus fuga perspiciatis sunt cum eaque beatae ipsum eius quidem? Hic perspiciatis nam tempore eius cum, eos voluptas totam sunt sit!
                    </p>

                </div>
            </div>
            <div class="Aromas">

                <img src="/img/aromas/ylang-ylang.jpg" alt="ylang-ylang" class="img">

                <div class="berg">

                   <h3>Ylang-ylang</h3>


                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores ex quos dolore itaque eaque amet ullam at, harum, earum ipsam beatae modi sapiente, et accusantium reprehenderit nostrum incidunt? Voluptatibus.
                         </p>

                </div>
            </div>
          
        </section>



    </main>







    <%- include('./partials/footer') %>
    <script src="https://kit.fontawesome.com/a27764f56e.js" crossorigin="anonymous"></script>


</body>

</html>