@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


h5{
    margin-top: 20px;
    text-align: center;
}

h6 span{
    font-weight: bold;
}
/* PAYMENT AND ADRESS*/
.data{
    width: 50vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-top: 4vh;
}

.data input {
    border: 3px solid var(--color-second);
    width: 100%;
    height: 28px;
    margin-bottom: 10px;
}

.data article{
    width: 100%;
    margin-top: 50px;
    padding: 0px 100px;
}

.data h1{
    text-align: center;
    color: var(--color-third);
    font-size: 30px;
    font-weight: bold;
}
.choice{
    background-color: var(--color-first);
    color: var(--color-bg);
}
.payment_options,
.adress_options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.dynamic_formpayment,
.dynamic_adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 150px;
    margin: 5px;
    color: var(--color-third);
    background-color: var(--color-second);
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.dynamic_formpayment:hover, .dynamic_formpayment:active,
.dynamic_adress:hover, .dynamic_adress:active{
    background-color: var(--color-first);
    color: var(--color-bg);
}

#add_payment,
#add_adress{
    background-color: var(--color-fourth);
    border: none;
    padding: 10px 10px;
    color: var(--color-third);
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
#add_payment:hover,
#add_adress:hover{
    background-color: var(--color-third);
    color: var(--color-fourth);
}

.data_payment_card,
.form_pays,
.adress_choices{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
}

.card,
.adress_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*payment_card*/
.data_payment_card .card .cod{
    width: 60%;
    margin-right: 20px;
}
/*adress*/
article.adress_choices{
    margin-top: 0;
}
article.adress_choices .adress_details .number{
    width: 30%;
    margin-right: 20px;
}


/* PURCHASES */
.purchase{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 48vw;
    position: absolute;
}

.data_purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: fixed;
    right: 0;
    top: 150px;
    bottom: 150px;
}

.button_purchase{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prices_purchase{
    padding: 40px;
    line-height: 35px;
    border: 1px solid var(--color-first);
}

.sub-purchase{
    border-bottom: 1px solid var(--color-first);
}

.button_purchase button{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    background-color: var(--color-button);
    transition: 0.3s;
    cursor: pointer;
}

.button_purchase button:hover {
    background-color: #246d05;
}

/* EDITS PAYMENTS */

#main_edit{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_edit input{
    margin-bottom: 0;
}

#main_edit p{
    font-style: italic;
    margin-bottom: 10px;
}

@media (max-width: 940px) {
    .data_payment_card .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .data_payment_card .card .cod,
    .valid{
        margin-right: 0px;
        width: 100%;
    }
}

@media (max-width: 820px) {
    main{
        justify-content: center;
        flex-wrap: wrap;
    }
    .dynamic_formpayment,
.dynamic_adress{
    width: 90%;
    height: 150px;
}

    .data,
    .purchase,
    .data_purchase{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .data{
        flex-wrap: wrap;
        margin-left: 0;
    }
    .purchase,
    .data_purchase{
        position: relative;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

@media (max-width: 400px) {
    .data article{
        padding: 0px 20px;
    }
    .data_payment_card,
    .data_payment_boleto,
    .form_adress{
        padding: 10px 0px;
    }
    .prices_purchase{
        padding: 20px;
    }
}




