footer {
    background-color: var(--color-first);
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    color: var(--color-second);
}

footer h2{
    font-size: 30px;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: var(--color-second);
}

footer section {
    display: flex;
    height: 150px;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

footer section ul li {
    margin-bottom: 10px;
}

footer .contact h2 {
    width: 240px;
}

footer .payment ul {
    width: 330px;
}

footer .vertical-bar{
    height: 150px;
    border: 0.5px solid var(--color-second);
}



@media (max-width: 768px){


    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .vertical-bar {
        display: none;
    }



    .contact {
        margin-bottom: 50px;
    }



    .payment {
        width: 100%;
    }

}



@media (max-width: 600px){



    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .vertical-bar {
        display: none;
    }



    .contact {
        margin-bottom: 50px;
    }



    .payment {
        width: 100%;
    }

}


@media (max-width: 300px){
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .vertical-bar {
        display: none;
    }
    .contact {
        margin-bottom: 50px;
    }
    .payment {
        width: 100%;
    }

}

